<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
   <servlet-name>FetchReceipts</servlet-name>
   <servlet-class>goon_squad1.Receipts_Manager</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>login</servlet-name>
   <servlet-class>goon_squad1.LoginServlet</servlet-class>
  </servlet>
   <servlet>
   <servlet-name>upload</servlet-name>
   <servlet-class>goon_squad1.Receipt_Processor</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>register</servlet-name>
   <servlet-class>goon_squad1.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>SessionCheck</servlet-name>
   <servlet-class>goon_squad1.LoginCheck</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>CreateReceipt</servlet-name>
   <servlet-class>goon_squad1.Receipt_Creator</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>DeleteEntity</servlet-name>
   <servlet-class>goon_squad1.Entity_Remover</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>DownloadReceipt</servlet-name>
   <servlet-class>goon_squad1.Receipt_Downloader</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>FetchItems</servlet-name>
   <servlet-class>goon_squad1.Items_Fetcher</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>CreateItem</servlet-name>
   <servlet-class>goon_squad1.Item_Creator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchReceipts</servlet-name>
    <url-pattern>/fetchReceipts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionCheck</servlet-name>
    <url-pattern>/sessioncheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateReceipt</servlet-name>
    <url-pattern>/createreceipt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEntity</servlet-name>
    <url-pattern>/deleteentity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadReceipt</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchItems</servlet-name>
    <url-pattern>/fetchItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>CreateItem</servlet-name>
    <url-pattern>/createitem</url-pattern>
  </servlet-mapping>
  <display-name>goon_squad1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>